name: oc_academy_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_svg: ^2.0.10+1
  flutter_bloc: ^8.1.6
  equatable: ^2.0.5
  get_it: ^7.7.0
  injectable: ^2.4.2
  dio: ^5.5.0+1
  json_annotation: ^4.9.0
  freezed: ^2.5.3
  go_router: ^14.2.1
  logger: ^2.4.0
  intl: ^0.20.2
  shared_preferences: ^2.2.3
  dartz: ^0.10.1
  connectivity_plus: ^6.0.3 # Use the latest version
  pinput: ^6.0.1
  country_code_picker: ^3.0.0 # Add this line
  firebase_messaging: ^15.0.1
  device_info_plus: ^10.1.0
  timeago: ^3.6.1
  share_plus: ^10.0.0
  url_launcher: ^6.2.5
  
  google_sign_in: ^6.0.0
  jwt_decoder: ^2.0.1
  webview_flutter: ^4.10.0
  image_picker: ^1.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  build_runner: ^2.4.11
  injectable_generator: ^2.6.1
  freezed_annotation: ^2.4.2
  json_serializable: ^6.8.0
  mockito: ^5.4.4
  flutter_launcher_icons: "^0.13.1"
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/oc_icon.png"
  adaptive_icon_background: "#FFFFFF" # Required for Android "Adaptive Icons"
  adaptive_icon_foreground: "assets/images/oc_icon.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
